<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Jogos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-title>Free Fire</ion-card-title>
      <img src="https://s2.glbimg.com/TZil5B9QAg5mTcLyqT0JpPABDWY=/0x0:1440x810/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2019/p/A/VYcFvGQ7WX7ILB7nFseg/1q.jpg" alt="" />
      <ion-card-header>
        <ion-card-title>Cross Fire</ion-card-title>
      </ion-card-header>
      <img src="https://z8games.akamaized.net/cfbr/templates/assets/imgs/preview/170118_previewimages_main.jpg" alt="" />
      <ion-card-content>
      </ion-card-content>
    </ion-card>
</ion-content>
